# Lab | APIS

# Getting the information using requests

Use the Python `requests`, and `json` libraries to obtain the information of ALL the Nobel Prizes. Make sure to verify that you get the proper status code (200).

The json outputs are simple plain text that need to be converted into the corresponding nested dictionary. Use the `.json()` method to cast the output into a Python dictionary.

Use the Pandas library to collect all the information into a Panda's DataFrame.

In [1]:
import requests
import json
import pandas as pd

url = "http://api.nobelprize.org/2.1/nobelPrizes?limit=100000"

response = requests.get(url)

if response.status_code == 200:
        print("All good!")
        print("==============")
        print("\n")
        # Your code here

All good!
==============

In [2]:
data = response.json()
df_prize = pd.json_normalize(data['nobelPrizes'])
display(df_prize)

,awardYear,dateAwarded,prizeAmount,prizeAmountAdjusted,links,laureates,category.en,category.no,category.se,categoryFullName.en,categoryFullName.no,categoryFullName.se,topMotivation.en,topMotivation.se
0,1901,1901-11-12,150782,10531894,"[{'rel': 'nobelPrize', 'href': 'https://api.no...","[{'id': '160', 'knownName': {'en': 'Jacobus H....",Chemistry,Kjemi,Kemi,The Nobel Prize in Chemistry,Nobelprisen i kjemi,Nobelpriset i kemi,NaN,NaN
1,1901,1901-11-14,150782,10531894,"[{'rel': 'nobelPrize', 'href': 'https://api.no...","[{'id': '569', 'knownName': {'en': 'Sully Prud...",Literature,Litteratur,Litteratur,The Nobel Prize in Literature,Nobelprisen i litteratur,Nobelpriset i litteratur,NaN,NaN
2,1901,1901-12-10,150782,10531894,"[{'rel': 'nobelPrize', 'href': 'https://api.no...","[{'id': '462', 'knownName': {'en': 'Henry Duna...",Peace,Fred,Fred,The Nobel Peace Prize,Nobels fredspris,Nobels fredspris,NaN,NaN
3,1901,1901-11-12,150782,10531894,"[{'rel': 'nobelPrize', 'href': 'https://api.no...","[{'id': '1', 'knownName': {'en': 'Wilhelm Conr...",Physics,Fysikk,Fysik,The Nobel Prize in Physics,Nobelprisen i fysikk,Nobelpriset i fysik,NaN,NaN
4,1901,1901-10-30,150782,10531894,"[{'rel': 'nobelPrize', 'href': 'https://api.no...","[{'id': '293', 'knownName': {'en': 'Emil von B...",Physiology or Medicine,Fysiologi eller medisin,Fysiologi eller medicin,The Nobel Prize in Physiology or Medicine,Nobelprisen i fysiologi eller medisin,Nobelpriset i fysiologi eller medicin,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
665,2023,2023-10-09,11000000,11000000,"[{'rel': 'nobelPrize', 'href': 'https://api.no...","[{'id': '1034', 'knownName': {'en': 'Claudia G...",Economic Sciences,Økonomi,Ekonomi,The Sveriges Riksbank Prize in Economic Scienc...,Sveriges Riksbanks pris i økonomisk vitenskap ...,Sveriges Riksbanks pris i ekonomisk vetenskap ...,NaN,NaN
666,2023,2023-10-05,11000000,11000000,"[{'rel': 'nobelPrize', 'href': 'https://api.no...","[{'id': '1032', 'knownName': {'en': 'Jon Fosse...",Literature,Litteratur,Litteratur,The Nobel Prize in Literature,Nobelprisen i litteratur,Nobelpriset i litteratur,NaN,NaN
667,2023,2023-10-06,11000000,11000000,"[{'rel': 'nobelPrize', 'href': 'https://api.no...","[{'id': '1033', 'knownName': {'en': 'Narges Mo...",Peace,Fred,Fred,The Nobel Peace Prize,Nobels fredspris,Nobels fredspris,NaN,NaN
668,2023,2023-10-03,11000000,11000000,"[{'rel': 'nobelPrize', 'href': 'https://api.no...","[{'id': '1026', 'knownName': {'en': 'Pierre Ag...",Physics,Fysikk,Fysik,The Nobel Prize in Physics,Nobelprisen i fysikk,Nobelpriset i fysik,NaN,NaN
669,2023,2023-10-02,11000000,11000000,"[{'rel': 'nobelPrize', 'href': 'https://api.no...","[{'id': '1024', 'knownName': {'en': 'Katalin K...",Physiology or Medicine,Fysiologi eller medisin,Fysiologi eller medicin,The Nobel Prize in Physiology or Medicine,Nobelprisen i fysiologi eller medisin,Nobelpriset i fysiologi eller medicin,NaN,NaN

In [3]:
laureate_id = df_prize["laureates"][0][0]['id']
print(laureate_id)

160

In [4]:
import pandas as pd

# Assuming df_prize is your original DataFrame
# Step 1: Select the relevant columns and process them
data_cols = {
    'category': df_prize["category.en"],  # Assuming the category is in English
    'dateAwarded': pd.to_datetime(df_prize["dateAwarded"]).dt.strftime('%Y-%m-%d'),  # Convert to DateTime
    'prizeAmount': df_prize["prizeAmount"],
    'prizeAmountAdjusted': df_prize["prizeAmountAdjusted"],
    'Number_of_laureates': df_prize["laureates"].apply(lambda x: len(x) if isinstance(x, list) else 0),  # Count laureates
    'motivation': df_prize.apply(
        lambda row: row['laureates'][0].get('motivation', {}).get('en', '') if isinstance(row['laureates'], list) and len(row['laureates']) > 0 else '', axis=1
    ),  # Extract motivation if there are laureates
    'laureate_ids': df_prize["laureates"].apply(lambda x: [laureate['id'] for laureate in x] if isinstance(x, list) else [])  # Extract IDs
}

# Step 2: Create a new DataFrame
df_prize_new = pd.DataFrame(data_cols)

# Display the new DataFrame
display(df_prize_new)

,category,dateAwarded,prizeAmount,prizeAmountAdjusted,Number_of_laureates,motivation,laureate_ids
0,Chemistry,1901-11-12,150782,10531894,1,in recognition of the extraordinary services h...,[160]
1,Literature,1901-11-14,150782,10531894,1,in special recognition of his poetic compositi...,[569]
2,Peace,1901-12-10,150782,10531894,2,for his humanitarian efforts to help wounded s...,"[462, 463]"
3,Physics,1901-11-12,150782,10531894,1,in recognition of the extraordinary services h...,[1]
4,Physiology or Medicine,1901-10-30,150782,10531894,1,"for his work on serum therapy, especially its ...",[293]
...,...,...,...,...,...,...,...
665,Economic Sciences,2023-10-09,11000000,11000000,1,for having advanced our understanding of women...,[1034]
666,Literature,2023-10-05,11000000,11000000,1,for his innovative plays and prose which give ...,[1032]
667,Peace,2023-10-06,11000000,11000000,1,for her fight against the oppression of women ...,[1033]
668,Physics,2023-10-03,11000000,11000000,3,for experimental methods that generate attosec...,"[1026, 1027, 1028]"
669,Physiology or Medicine,2023-10-02,11000000,11000000,2,for their discoveries concerning nucleoside ba...,"[1024, 1025]"

# Processing the output

Process the Pandas DataFrame in order to have only the following columns:

- category
- dateAwarded (as DateTime in "yyyy-mm-dd" format)
- prizeAmount
- prizeAmountAdjusted
- Number_of_laureates
- motivation
- laureate_ids (as a list)

# Getting a Pandas DataFrame with the details of awarded authors/institutions

If you dive deeper and use the API to retrieve the details of some laureate_ids, you will notice that not allways the Nobel Prize was awarded to individuals. In some cases, the awards were given to institutions.

Get the unique ids from the previous datasets and prepare the following functions:

- get_name(laureate) ( it should return the english name 'fullName' of the individual or 'orgName' of the institution )

- get_gender(laureate) ( it should return the gender or 'Unknown' for individuals, and 'None' for institutions )

- get_birthdate(laureate) ( it should return the birthdate when it's avaialble or 'Unknown' otherwise )

- get_age(laureate) ( it should return the age of the awarded individual or 'Unknown' when it's not avaialble or for institutions )

- get_city(laureate) ( it should return the english name of the city when it's available or 'Unknown' otherwise )

- get_country(laureate) ( it should return the english name of the country when it's available or 'Unknown' otherwise )

- get_continent(laureate) ( it should return the english name of the continent when it's available or 'Unknown' otherwise )

- get_latitude(laureate) ( it should return the city's latitude when it's available or 'Unknown' otherwise )

- get_longitude(laureate) ( it should return the city's longitude
 when it's available or 'Unknown' otherwise )

Create the following dictionaries:

```python
laureates_dict = {"ID": [], "Name": [], "Gender": [], \
                  "Birth_date": [], "Age": [], \
                  "City": [], "Country": [], "Continent": [], \
                  "Latitude": [], "Longitude": []}                        

functions_dict = {"ID": None, "Name": get_name, "Gender": get_gender, \
                  "Birth_date": get_birthdate, "Age": get_age, \
                  "City": get_city, "Country": get_country, "Continent": get_continent, \
                  "Latitude": get_latitude, "Longitude": get_longitude}
```

For each unique `laureate_id` of the previous DataFrame make an API call to get the details of the awarded individual/intitution and iterate of the previous dictionaries keys in order to add the corresponding information of each `laureate_id` in the empty lists of `laureates_dict`.

Finally, create a Pandas DataFrame named `laureates_df` using the `laureates_dict`.

In [5]:
import time
from tqdm import tqdm
from datetime import datetime

In [6]:
def get_name(laureate):
    # Check if the laureate is a person
    if "givenName" in laureate:
        return laureate['givenName']['en'] + " " + laureate['familyName']['en']
    # Otherwise, it's an organization
    elif "orgName" in laureate:
        return laureate['orgName']['en']
    else:
        return "Unknown"

In [7]:
def get_gender(laureate):
    # Check if the laureate is a person
    if "gender" in laureate:
        return laureate['gender']
    # Organizations do not have gender
    else:
        return "Organization"

In [8]:
def get_birthdate(laureate):
    # Check if the laureate is a person
    if "birth" in laureate:
        return laureate['birth']['date']
    # Organizations do not have a birth date
    else:
        return "N/A"

In [9]:
def get_age(laureate):
    # Check if the laureate is a person
    if "birth" in laureate:
        birth_date = datetime.strptime(laureate['birth']['date'], "%Y-%m-%d")
        # Assuming that the prize was awarded at the same time as the Nobel Prize in general
        award_year = laureate['nobelPrizes'][0]['awardYear']
        award_date = datetime.strptime(f"{award_year}-12-10", "%Y-%m-%d")  # Nobel Prize is awarded on Dec 10
        return (award_date - birth_date).days // 365
    # Organizations do not have an age
    else:
        return "N/A"

In [10]:
def get_city(laureate):
    # Check if the laureate is a person
    if "birth" in laureate and "place" in laureate["birth"] and "city" in laureate["birth"]["place"]:
        return laureate['birth']['place']['city']['en']
    # Organizations may have a headquarters city
    elif "founded" in laureate and "place" in laureate["founded"] and "city" in laureate["founded"]["place"]:
        return laureate['founded']['place']['city']['en']
    else:
        return "Unknown"

In [11]:
def get_country(laureate):
    # Check if the laureate is a person
    if "birth" in laureate and "place" in laureate["birth"] and "country" in laureate["birth"]["place"]:
        return laureate['birth']['place']['country']['en']
    # Organizations may have a headquarters country
    elif "founded" in laureate and "place" in laureate["founded"] and "country" in laureate["founded"]["place"]:
        return laureate['founded']['place']['country']['en']
    else:
        return "Unknown"

In [12]:
def get_continent(laureate):
    # A mapping from countries to continents could be used here, but this depends on the data structure
    # Assuming that the continent information is not directly available in the API, we return "Unknown"
    return "Unknown"

In [13]:
def get_latitude(laureate):
    # Check if the laureate is a person
    if "birth" in laureate and "place" in laureate["birth"] and "locationString" in laureate["birth"]["place"]:
        return laureate['birth']['place']['locationString']['latitude']
    # Organizations may have a headquarters latitude
    elif "founded" in laureate and "place" in laureate["founded"] and "locationString" in laureate["founded"]["place"]:
        return laureate['founded']['place']['locationString']['latitude']
    else:
        return "Unknown"

def get_longitude(laureate):
    # Check if the laureate is a person
    if "birth" in laureate and "place" in laureate["birth"] and "locationString" in laureate["birth"]["place"]:
        return laureate['birth']['place']['locationString']['longitude']
    # Organizations may have a headquarters longitude

In [14]:
ids = [int(item) for sublist in df_prize_new['laureate_ids'].values for item in sublist]
unique_ids = set(ids)

In [ ]:
laureates_dict = {
    "ID": [],
    "Name": [],
    "Gender": [],
    "Birth_date": [],
    "Age": [],
    "City": [],
    "Country": [],
    "Continent": [],
    "Latitude": [],
    "Longitude": []
}

In [ ]:
for index, id in enumerate(tqdm(unique_ids)):
    url = "https://api.nobelprize.org/2/laureate/" + str(id)
    response = requests.get(url)

    if response.status_code == 200:
        data = response.json()

        # Adjust this part based on the actual structure
    if isinstance(data, list) and len(data) > 0:
          laureate = data[0] 
    else:
            print(f"Unexpected data format for ID {id}: {data}")
            continue  # Skip to the next iteration if the format is unexpected

        # Add data to laureates_dict
laureates_dict["ID"].append(id)
for key, func in functions_dict.items():
            if func:
                laureates_dict[key].append(func(laureate))
                laureates_df = pd.DataFrame(laureates_dict)
                display(laureates_df)

# Country ranking

Get a ranking countries by the number of times that they had been awarded in any category.

In [ ]:
import requests
import pandas as pd
from tqdm import tqdm
from collections import Counter

# Step 1: Prepare the Data
ids = [int(item) for sublist in df_prize_new['laureate_ids'].values for item in sublist]
unique_ids = set(ids)

# Dictionary to store the count of awards by country
country_awards_count = Counter()

# Step 2: Collect and Count Awards by Country
for index, id in enumerate(tqdm(unique_ids)):
    url = "https://api.nobelprize.org/2/laureate/" + str(id)
    response = requests.get(url)

    if response.status_code == 200:
        data = response.json()
        
        if isinstance(data, dict) and 'id' in data:
            laureate = data
        else:
            print(f"Unexpected data format for ID {id}: {data}")
            continue  # Skip to the next iteration if the format is unexpected

        # Extract the country information
        if "birth" in laureate and "place" in laureate["birth"] and "country" in laureate["birth"]["place"]:
            country = laureate['birth']['place']['country']['en']
            country_awards_count[country] += 1
        elif "founded" in laureate and "place" in laureate["founded"] and "country" in laureate["founded"]["place"]:
            country = laureate['founded']['place']['country']['en']
            country_awards_count[country] += 1

# Step 3: Rank the Countries
country_awards_df_prize_new = pd.DataFrame.from_dict(country_awards_count, orient='index', columns=['Award_Count'])
country_awards_df_prize_new.sort_values(by='Award_Count', ascending=False, inplace=True)

# Display the ranking
display(country_awards_df.head(20))  # Top 20 countries by number of awards